*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    
    background-image: url(https://pbs.twimg.com/media/FQ5DM8MWYAImHhT?format=jpg&name=large);
    
}
/*Aqui chamo class container do header*/
.container{
    
    width:100%;
    margin: auto;
}
/*Aqui chamo class container do nav menu*/
.container-menu{
    text-align: center;
    
    
}

/**AQui chamo class container do ul/li container-menu-list/*/
.container-menu-list li{
    display: inline-block;
    /*Distancia+*/
    margin-left: 6vw;
    color: white;
    margin-top: 0vw;
    
   
}

/*Estilizar h2*/
li h2{
    margin-left: 2vw;
}

li h3{
    margin-left:15vw;
}



/*Div para trazer imagem para esquedar*/
header div{
    width: 30%;
    display: inline-block;
    margin-left:8vw;
    align-items: center;
  }

 /*Centralizar a imagem do kavil2*/ 
 figure {
    background-image: url('C:\Users\andre\Desktop\Desafio08The Witcher\img\kavil2.png.png"peg');
    display: inline-block;
    margin-left:80vh;
    width: 10vh;
    height: 10vh;
 }

figure img{
    width: 345px;
}


.imagem-de-caixa{
    width: 100px;
    height: 100px;
    background-image: url(https://pbs.twimg.com/media/FQ6V2DiWQAI-nFO?format=png&name=small);
    margin-left: 8vw;
}
.imagem{
    margin: left 500px;
}

.botao{
     margin-left:500px;
     margin-top: center;
     width: 10px;
     height: 10px;
}