*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    
    background-image: url(https://pbs.twimg.com/media/FQ5DM8MWYAImHhT?format=jpg&name=large);
    
}
/*Aqui chamo class container do header*/
.container{
    
    width:100%;
    margin: auto;
}
/*Aqui chamo class container do nav menu*/
.container-menu{
    text-align: center;
    
    
}

/**AQui chamo class container do ul/li container-menu-list/*/
.container-menu-list li{
    display: inline-block;
    /*Distancia+*/
    margin-left: 6vw;
    color: white;
    margin-top: 0vw;
    
   
}

/*Estilizar h2*/
li h2{
    margin-left: 2vw;
}

li h3{
    margin-left:15vw;
}



/*Div para trazer imagem para esquedar*/
header div{
    width: 30%;
    display: inline-block;
    margin-left:8vw;
    align-items: center;
  }

 /*Centralizar a imagem do kavil2*/ 
 figure {
    background-image: url('https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:3e5bdfff-8c40-42c0-8fd9-125ed8881d4e;revision=0?component_id=7a8c854a-a5c6-4f77-bb53-8c7f1154222c&api_key=CometServer1&access_token=1650595620_urn%3Aaaid%3Asc%3AUS%3A3e5bdfff-8c40-42c0-8fd9-125ed8881d4e%3Bpublic_7c776e09c7105f56ac5b3952dc0ddfc948040074');
    display: inline-block;
    margin-left:80vh;
    width: 10vh;
    height: 10vh;
 }

figure img{
    width: 345px;
}


.imagem-de-caixa{
    width: 100px;
    height: 100px;
    background-image: url(https://pbs.twimg.com/media/FQ6V2DiWQAI-nFO?format=png&name=small);
    margin-left: 8vw;
}
.imagem{
    margin: left 500px;
}

.botao{
     margin-left:500px;
     margin-top: center;
     width: 10px;
     height: 10px;
}